.navbar-collapse {
  margin: 20px 0;
}

.navbar-collapse a {
  margin: 0 5px;
}

.navbar-collapse .prev-page {
  margin-right: 15px;
}

.navbar-collapse input {
  width: 30px;
  padding: 0 6px;
}

.navbar-collapse .next-page {
  margin-left: 15px;
}

.navbar-collapse .result-items {
  margin-left: 120px;
}